# Laravel vendor & node_modules
/vendor
/node_modules

# Laravel public output
/public/storage
/public/hot
/public/build

# Laravel storage
/storage/*.key
/storage/pail
/storage/logs/*.log

# Laravel env files
.env
.env.local
.env.production
.env.staging
.env.backup

# Laravel test cache
.phpunit.cache
.phpunit.result.cache

# Laravel debug
.phpactor.json
/auth.json

# Laravel database (SQLite only)
/database/*.sqlite

# Laravel IDE / editor support
/.idea
/.vscode
/.zed
/.fleet

# Homestead
Homestead.yaml
Homestead.json

# Yarn/NPM logs
npm-debug.log
yarn-error.log
